<div class="mainContainer">

  <div class="forget-container">
    <form class="forget-form" id="forgetForm">
      <h2>Forget Password</h2>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="mobile">Mobile Number:</label>
      <input type="text" id="mobile" name="mobile" required>

      <label for="sendMethod">Select verification method:</label>
      <select id="sendMethod" name="sendMethod" >
        <option value="otp">Mobile OTP</option>
        <option value="emailOtp">Email OTP</option>
      </select>

      <div class="otp-fields" id="otpFields">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" required>
      </div>

      <label for="lastPassword">Last Password:</label>
      <input type="password" id="lastPassword" name="lastPassword" required>


      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>

      <button type="submit">Submit</button>
    </form>
  </div>


</div>

